<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <title>Admin</title>
</head>
<body>
    <a href="/"><img src="/img/CTC_1.png" alt="Crack The Code Logo" id="logo"></a>
    <main>
        <section class="container">
            <form id="form" action="http://52.55.120.19:8080/login-admin" method="GET">
                <h1>Admin Panel</h1>
                <div class="input">
                    <label for="usuario">Usuario</label>
                    <input id="usuario" name="idUsuario" type="text" maxlength="50" required placeholder="Usuario">
                </div> 
                <div class="input">
                    <label for="usuario">Contraseña</label>
                    <input id="password" name="password" type="password" maxlength="50" required placeholder="Contraseña">
                </div>  
                <button class="btn" type="submit">Registrarse</button>
            </form>
        </section>
    </main>
    <script src="/js/post_admin.js"></script>
</body>
</html>