<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"> 
    <link href="/css/register.css" rel="stylesheet" type="text/css">
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://kit.fontawesome.com/baf8be5cf7.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <section class="container">
            <img src="https://www.crackthecode.la/_next/image?url=%2Fimg_login.webp&w=640&q=75">
            <form>
                <h1>¡Registrate!</h1>
                <input id="IdPlayer" name="Gamertag" required type="text" placeholder="Gamer Tag">  
                <div class='double'>
                    <input id="Name" name="Nombre" required type="text" placeholder="Nombre">
                    <input id="LastName" name="Apellido" required type="text" placeholder="Apellido">
                </div>
                <input id="Contraseña" name="Password" required type="password" placeholder="Contraseña">
                <input id="ConfirmarContraseña" name="ConfirmPassword" required type="password" placeholder="Confirmar Contraseña">
                <div class='double'>
                    <input id="Correo" name="Email" required type="email" placeholder="Correo">
                    <input id="Telefono" name="Phone" required type="tel" placeholder="Telefono">
                </div>
                <div class="double">
                    <input id="FechaNacimiento" name="FechaNacimiento" required type="date" placeholder="Fecha Nacimiento">
                    <input id="Pais" name="Country" required placeholder="Pais">
                </div>
                <button class="btn">Registrarse</button>
            </form>
        </section>
    </main>
</body>
<script>
    const phoneInputField = document.querySelector("#Telefono");
    const phoneInput = window.intlTelInput(phoneInputField, {
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
  </script>
</html>