<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <title>Registrarse</title>
</head>
<body>
    <main>
        <section class="container">
            <img src="https://www.crackthecode.la/_next/image?url=%2Fimg_login.webp&w=640&q=75">
            <form action="http://   52.55.120.19:8080/register" method="POST">
                <h1>¡Registrate!</h1>
                <div class="input">
                    <label for="usuario">Nombre de Usuario</label>
                    <input id="usuario" name="usuario" type="text" maxlength="50" required placeholder="Usuario">
                </div>  
                <div class='double'>
                    <div class="input">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" name="nombre" type="text" maxlength="50" required placeholder="Nombre">
                    </div>
                    <div class="input">
                        <label for="apellido">Apellido</label>
                        <input id="apellido" name="apellido" type="text" maxlength="50" required placeholder="Apellido">
                    </div>
                </div>
                <div class="input">
                    <label for="contraseña">Contraseña</label>
                    <input id="contraseña" name="contraseña" type="password" maxlength="64" required placeholder="Contraseña">
                </div>
                <div class="input">
                    <label>Confirmar Contraseña</label>
                    <input id="nombre" name="nombre" type="password" maxlength="64" required placeholder="Confirmar Contraseña">
                </div>
                <div class='double'>
                    <div class="input">
                        <label for="correo">Correo Electrónico</label>
                        <input id="correo" name="correo" type="email" maxlength="50" required placeholder="Correo">
                    </div>
                    <div class="input">
                        <label for="telefono">Teléfono</label>
                        <input id="telefono" name="telefono" type="tel" maxlength="15" required placeholder="Telefono">
                    </div>
                </div>
                <div class="double">
                    <div class="input">
                        <label for="fecha">Fecha de Nacimiento</label>
                        <input id="fecha" name="fecha" type="date" required placeholder="Fecha Nacimiento">
                    </div>
                    <div class="input">
                        <label for="country">País</label>
                        <select id="country" name="country" required>
                            <option value="">País</option>
                            <option value="AR">Argentina</option>
                            <option value="BO">Bolivia</option>
                            <option value="BR">Brazil</option>
                            <option value="CL">Chile</option>
                            <option value="CO">Colombia</option>
                            <option value="EC">Ecuador</option>
                            <option value="FK">Falkland Islands (Malvinas)</option>
                            <option value="GF">French Guiana</option>
                            <option value="GY">Guyana</option>
                            <option value="MX">México</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="SR">Suriname</option>
                            <option value="UY">Uruguay</option>
                            <option value="VE">Venezuela</option>
                        </select>                
                    </div>
                </div>
                <button class="btn">Registrarse</button>
            </form>
        </section>
    </main>
</body>
<script>
    const phoneInputField = document.querySelector("#telefono");
    const phoneInput = window.intlTelInput(phoneInputField, {
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
  </script>
</html>