* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0 20px;
    z-index: 100000;
}

.navbar .links {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 100px;
 }

.navbar .links li {
    list-style: none;
}

.navbar .links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0 20px;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s;
}

.navbar .links li a#ingresar {
    text-decoration: underline;
}

.navbar .links li a#dark-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar .hamburger {
    display: none;
    width: 40px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.navbar .hamburger .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background:  black;
}

.checkbox {
    display: none;
}

.cover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 900px;
    background-image: url(../img/videgame_cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover h1 {
    z-index: 10000;
    color: white;
    font-size: 60px;
    font-weight: 700;
}

.cover .cover-btn {
    z-index: 2;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    transition: all .4s ease-in-out;
}

.cover .cover-btn:hover {
    background: white;
    color: black;
}

.cover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: .6;
    z-index: 0;
}

.cover svg {
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: translateY(20px);
}

.info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    z-index: 2;
}

.info h2 {
    font-size: 42px;
    margin-bottom: 40px;
}

.info .info-subsection {
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.info .info-subsection img {
    border-radius: 10%;
}

.info .info-subsection .left {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 50%;
    text-align: left;
    padding: 0 40px 0 0;
}

.info .info-subsection .right {
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: right;
    width: 50%;
    padding: 0 0 0 40px;
}

.info .info-subsection aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer { 
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    margin-top: 100px;
}

@media (max-width: 850px) {
    .navbar {
        justify-content: space-between;
    }
    .links {
        justify-content: start;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);        
        background-color: white;
        margin-top: 100px;
        width: 100%;
        padding-bottom: 20px;
        transition: all 0.5s ease-in;
    }
    .navbar .links li a {
        padding: 20px;
    }
    .navbar .hamburger {
        display: flex;
    }
    .navbar .hamburger .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;    
    }
    .navbar .hamburger .line2 {
        transition: all 0.4s ease-in-out;
    }
    .navbar .hamburger .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    nav :checked ~ .hamburger .line1{
        transform: rotate(45deg);
    }    
    nav :checked ~ .hamburger .line2{
        opacity: 0;
    }
    nav :checked ~ .hamburger .line3{
        transform: rotate(-45deg);
    }        
    nav :checked ~ .links {
        transform: translateY(0);
    }
    .info .info-subsection{ 
        width: 100%;
        flex-wrap: wrap;
    }
    .info .info-subsection {
        justify-content: center;
        gap: 50px;
    }
    .info .info-subsection .left {
        width: 100%;
    }
    .info .info-subsection img.left {
        width: 350px;
    }
    .info .info-subsection .right {
        width: 100%;
    }

    .info .info-subsection img.right {
        width: 350px;
        margin-bottom: 50px;
    }
}