* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

#logo {
    position: absolute;
    width: 100px;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(109,242,242);
    background: linear-gradient(90deg, rgba(109,242,242,1) 0%, rgba(142,132,253,1) 100%);
}

.container {
    display:  flex;
    width: 1000px;
    height: 620px;
}

form {
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form h1 { 
    font-size: 30px;
    margin-bottom: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

form input, select { 
    background-color: white;
    font-size: 16px;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

form .double {
    display: flex;
    justify-content: space-between;
}

form .double .input {
    width: 49%;
    max-width: 205px;
}

.btn {
    background-color: black;
    color: white;
    font-size: 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#telefono {
    width: 205px;
}

.terminos-condiciones label a{
    color: black;
    font-weight: 800;
}

@media all and (max-width: 1050px) {
    main img {
        display: none;
    }
    .container {
        width: 500px;
    }
    form {
        width: 500px
    }
}

@media all and (max-width: 510px) {
    #logo {
        position: relative;
    }
    .container {
        width: 350px;
        height: auto;
    }
    form {
        height: auto;
        width: 350px
    }
    form .double {
        flex-direction: column;
    }
    form .double .input {
        width: 100%;
        max-width: 100%;
    }
    #telefono {
        width: 100%;
    }
}